body{
    padding: 0;
    border: 0;
    box-sizing: border-box;

}
body{
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
    background-image: url("Signin\ backup\ image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display:grid;
    align-items: center;
    background-attachment: fixed;
    

}
div{
    border-color:black ;
    border-width: 5px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-style: solid;
    width: 300px;
    padding: 10px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #355E3B;
}
h2 {
    font-family: "Gloria Hallelujah", cursive;
    color: #f8f8f2;
    margin: 0 0 10px;
    text-shadow: 0 0 2px #fff;
}
input{
    margin: 0px;
    padding: 5px;
    background-color: transparent;
    border-color: #fff;
    border-width: 2px;
    border-style: dashed;

}
button {
    width: 100px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: white;
    color: #355E3B;
    font-weight: bold;
}

button:hover {
    background: #e6e6e6;
}
a{
    width: 60px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: white;
    color: #355E3B;
    font-weight: bold;
}
